.sidebar {
  max-width: 260px;
  width: 100%;
  height: auto;
  background: #1b2535;
}

.mainContent {
  padding: 40px 20px;
}

.imageSec {
  text-align: center;
}

.links {
  list-style-type: none;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}

.link h5 {
  color: #fff;
  font-weight: 800;
  font-size: 18px;
}

.supportSec {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 183px;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

.supportSec:hover {
  background: #fff;
}

.supportSec:hover h5 {
  color: #000;
}

.supportSec:hover img {
  filter: invert(1);
}

.supportSec h5 {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.supportSec img {
  margin-left: 15px;
}

.contactSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
}

.assets {
  display: flex;
  align-items: center;
  gap: 20px;
}

.assetsLink {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  margin-top: -20px;
}

.assetsLink.open {
  max-height: 300px;
  transition: max-height 0.5s ease-in;
}

.assetsLink ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-left: 1px solid #fff;
}

.assetsLink ul li {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.assetsLink ul li:hover {
  color: #4690ff;
}
